html {
  min-height: 100%;
  position: relative;
}

body {
  text-align: justify;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: #77AF9F;
}

a:hover {
  color: #47695F
}

/* Register and Login */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[name="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[name="username"], .form-signin input[name="password"] {
  border-radius: 0;
  margin-bottom: -1px
}

.form-signin input[name="password-confirm"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-group {
  font-weight: bold;
}


.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Navbar */

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.dropdown-menu {
  letter-spacing: normal;
  color: #838484;
}

.dropdown-username {
  padding: 0.25rem 1rem;
  font-weight: bold;
}

.dropdown-email {
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
}

.dropdown-item {
  padding: 0.25rem 1rem;
}

.card {
  background-color: #fafafa;
  margin-top: 25px;
  margin-bottom: 15px;
}

.card-header {
  background: none;
  border-bottom: none;
}

.card-body {
  padding-top: 0;
  padding-bottom: 0.75rem
}

/* Posts */
.post-title {
  margin-bottom: 0
}

.post-info {
  font-size: .8rem;
}

/* Comments */
.comment-box {
  background-color: #f8f9fa;
  border-radius: 15px;
  /* width: 70%; */
  margin: 0 10px;
  padding: 0 2rem 0.5rem;
}

.comment-username {
  font-weight: bold;
}

.comment-date {
  position: absolute;
  right: 30px;
  font-size: 0.9rem;
}

.comment-content {
  margin-left: 15px
}


/* Footer */
.footer-padding {
  padding: 60px 0;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #a7cbc1;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

/* For error pages */
.jumbotron {
  background: none;
}