html {
  min-height: 100%;
  position: relative;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.form-group {
  font-weight: bold;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.card {
  /* background-color: grey; */
  margin-top: 25px;
  margin-bottom: 15px;
}

.comment-box {
  background-color: #f8f9fa;
  border-radius: 15px;
  /* width: 70%; */
  margin: 0 10px;
  padding: 0 2rem 0.5rem;
}

.comment-date {
  position: absolute;
  right: 30px;
}

.footer-padding {
  padding: 60px 0;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #a7cbc1;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}
