<%- include("../partials/header"); -%>
<div class="jumbotron">
  <h1 class="display-4">403: Forbidden</h1>
  <p class="lead">
    You don't have permission to access this page.
  </p>
  
  <p>
    Please contact the websiite administrator.
  </p>
  <a  href="mailto:admin@email.com">admin@email.com</a>
</div>
<%- include("../partials/footer"); -%>
